[submodule "build-core"]
	path = build-core
	url = git://github.com/xp-forge/build-core.git
[submodule "plugin-validate"]
	path = plugin-validate
	url = git://github.com/xp-forge/build-plugin-validate.git
[submodule "plugin-unittest"]
	path = plugin-unittest
	url = git://github.com/xp-forge/build-plugin-unittest.git
[submodule "plugin-xcc"]
	path = plugin-xcc
	url = git://github.com/xp-forge/build-plugin-xcc.git
[submodule "plugin-core"]
	path = plugin-core
	url = git://github.com/xp-forge/build-plugin-core.git
[submodule "plugin-apidoc"]
	path = plugin-apidoc
	url = git://github.com/xp-forge/build-plugin-apidoc.git
[submodule "plugin-sonar"]
	path = plugin-sonar
	url = git://github.com/xp-forge/build-plugin-sonar.git
